name: Publish

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'

permissions:
  contents: read
  packages: write

jobs:
  ci:
    uses: makerxstudio/shared-config/.github/workflows/node-ci.yml@main
    with:
      testScript: npm run test:ci
  publish:
    needs: ci
    uses: makerxstudio/shared-config/.github/workflows/node-publish-internal.yml@main
